@font-face {
 font-family: Avalon-Book;
 src: url(../fonts/Avalon-Book.otf);
}
@font-face {
 font-family: Avalon-Bold;
 src: url(../fonts/Avalon-Bold.otf);
}

body {
	margin: 0;
}

#foundation-finder {
 	max-width: 980px;
 	margin: 0 auto;

	font-family: 'Avalon-Book';
	text-transform: uppercase;	
}

#foundation-finder .hidden {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

#foundation-finder * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#foundation-finder .products-section {
	padding-top: 50px;
}

#foundation-finder .products {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#foundation-finder .products-title {
	font-size: 18px;
    letter-spacing: 3px;

	padding: 10px;
	padding-left: 40px;

	margin-bottom: 50px;
}

#foundation-finder .product-description-container {
	padding: 20px 0;
}

#foundation-finder .products-item {
	text-align: center;

	display: flex;
	flex-direction: column;
    justify-content: space-between;

    min-width: 175px;

	list-style: none;
	padding-bottom: 40px;
}

#foundation-finder .products-item .image {
    margin: auto;
}

#foundation-finder .product-name {
	font-size: 15px;
}

#foundation-finder .product-button {

	display: inline-block;
	font-size: 15px;
	line-height: 13px;
	letter-spacing: 2px;
	padding: 11px 21px;
	color: white;
	background: black;
	text-decoration: none;
	border: 2px solid black;
	text-transform: uppercase;
}

#foundation-finder .product-button:hover {
	color: black;
	background: white;
}

#foundation-finder .product-button.buy-all,
#foundation-finder .main-button {
	padding-top: 20px;
	padding-bottom: 20px;
}

#foundation-finder .product-button.buy-all {
	width: 310px;
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#foundation-finder .main-button {
	margin-top: 15px;
	cursor: pointer;
}

#foundation-finder .main-title,
#foundation-finder .title,
#foundation-finder .paragraph {
	text-transform: uppercase;
	letter-spacing: 1px;
}

#foundation-finder .title,
#foundation-finder .main-title {
	letter-spacing: 2px;
}

#foundation-finder .main-title {
    font-weight: normal;
    font-size: 28px;
    color: white;
    padding-bottom: 20px;
}

#foundation-finder .title {
	font-size: 36px;
	color: #7c6761;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}

#foundation-finder .title:nth-of-type(2) {
	margin-top: 25px;
}

#foundation-finder .paragraph {
	font-size: 15px;
	line-height: 22px;
	padding: 10px 5px;
}

#foundation-finder .line-through{
	position: relative;
}

#foundation-finder .subnav-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	list-style: none;

	text-transform: uppercase;
	margin: 50px 0;
}

#foundation-finder .subnav-element {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	pointer-events: none;

	color: grey;
	padding: 10px;
	border-top: 2px solid transparent;
	width: 40%;
}

#foundation-finder .subnav-element.active {
	cursor: pointer;
	pointer-events: auto;
	color: black;
	border-top: 2px solid #46166b;
}

#foundation-finder .subnav-value {
	opacity: 0;
	font-size: 11px;
	letter-spacing: 8px;
}

#foundation-finder .subnav-element.active .subnav-value {
	opacity: 1;
	letter-spacing: 1px;
}

#foundation-finder .subnav-description {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}

#foundation-finder .selectors {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;

	list-style: none;
	margin-top: 40px;
}

#foundation-finder .selectors .item {
	padding: 5px;
	width: 50%;
}

#foundation-finder .data-selector {
	cursor: pointer;
	position: relative;
	text-align: center;
}

#foundation-finder .image {
	display: block;
	max-width: 100%;
}

#foundation-finder .banner {
	margin: 10px auto;
}

#foundation-finder .data-selector .description {
	padding-bottom: 20px;
}

#foundation-finder .section-mastertone .data-selector .description,
#foundation-finder .section-undertone .data-selector .description {
 	padding-top: 10px;
 	padding-bottom: 10px;
}

#foundation-finder .description.subtitle {
	position: absolute;
	z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 1;

    pointer-events: none;  
}

#foundation-finder .description.subtext {
	padding-top: 15px;	
	font-size: 14px;
}

#foundation-finder .data-selector .color-code {
	display: block;
	width: 25%;
	margin: 0 auto 10px;
	border-bottom: 1px solid black;

	font-size: 18px;
	padding: 5px;
}

#foundation-finder .data-selector .color-name {
	text-transform: uppercase;
}

#foundation-finder .face-image {
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 1;
}

#foundation-finder .section-mastertone .face-image,
#foundation-finder .section-undertone .face-image {
	opacity: 0.9;
}

#foundation-finder .face-image:hover {
	opacity: 0;
}

#foundation-finder .face-image:hover ~ .description.subtitle {
    opacity: 0.3;
}

#foundation-finder .face-image-swap {
	position: absolute;
	top: 0;
	left: 0;
}

#foundation-finder .selectors-section {
	display: none;
	text-align: center;	
	margin-bottom: 75px;
}

#foundation-finder .selectors-section.active {
	display: block;
}

#foundation-finder .selectors-cool,
#foundation-finder .selectors-neutral,
#foundation-finder .selectors-warm {
	display: none;
}

#foundation-finder .selectors-cool.visible,
#foundation-finder .selectors-neutral.visible,
#foundation-finder .selectors-warm.visible {
	display: flex;
}

#foundation-finder .section-undertone .data-selector {
	opacity: 0.2;
	pointer-events: none;
}

#foundation-finder .section-undertone .data-selector.available {
	opacity: 1;
	pointer-events: auto;
}

#foundation-finder .face-image-pink {
	background-color: #dcc5c5;
}

#foundation-finder .face-image-blue {
	background-color: #b7bfc4;
}

#foundation-finder .face-image-green {
	background-color: #d1d0b1;
}

#foundation-finder .face-image-neutral {
	background-color: #dbb89d;
}

#foundation-finder .face-image-yellow {
	background-color: #edd7ac;
}

#foundation-finder .face-image-orange {
	background-color: #eebf98;
}

#foundation-finder .face-image-red {
	background-color: #e4a68d;
}

#foundation-finder .face-image-cool {
	background-color: #d1aaa2;
}

#foundation-finder .face-image-warm {
	background-color: #d49a7d;
}

#foundation-finder .header-section {
	text-align: center;
	color: white;
	background: #da976a;
}

#foundation-finder .header-section .main-title,
#foundation-finder .header-section .paragraph {
	padding-left: 20px;
	padding-right: 20px;	
}

#foundation-finder .stay-naked-logo {
	margin: 0 auto;
	padding: 50px 55px 25px;
}

#foundation-finder .header {
	display: none;
	opacity: 0;
}

#foundation-finder .header.active {
	display: block;
	opacity: 1;
}

#foundation-finder .foundation-finder-app {
	display: none;
	opacity: 0;
}

#foundation-finder .foundation-finder-app.active {
	display: block;
	opacity: 1;
}

#foundation-finder .result-container {
	position: relative;
	background-color: #eebf98;
	text-align: center;
	height: 310px;

	padding: 10px;
}

#foundation-finder .result-container.c10 {
	background-color: #edbe97;;
}
#foundation-finder .result-container.c20 {
	background-color: #d9a984;;
}
#foundation-finder .result-container.c30 {
	background-color: #d2a583;;
}
#foundation-finder .result-container.c40 {
	background-color: #d3ab87;;
}
#foundation-finder .result-container.c50 {
	background-color: #ad7e58;;
}
#foundation-finder .result-container.c60 {
	background-color: #b78454;;
}
#foundation-finder .result-container.c70 {
	background-color: #915c3b;;
}
#foundation-finder .result-container.c80 {
	background-color: #704d31;;
}
#foundation-finder .result-container.c90 {
	background-color: #351810;;
}

#foundation-finder .section-result .selectors .item {
	width: 320px;
}

#foundation-finder .result-row.align-left {
	text-align: left;
}
#foundation-finder .result-row.align-right {
	text-align: right;
}

#foundation-finder .result-description {
	font-size: 20px;
    bottom: 16px;
    position: absolute;
    padding: 0 10px;
    color: white;
}

#foundation-finder .result-translation {
	font-size: 11px;
	color: #351810;
    display: inline-block;
    text-align: center;
}

#foundation-finder .result-code {
	font-size: 90px;
    line-height: 94px;
    color: white;
	letter-spacing: 4px;
    transform: scale(1.1, 1);
}

#foundation-finder .translate-undertone,
#foundation-finder .translate-mastertone {
    width: 25%;
    padding-bottom: 10px;
    border-bottom: 2px solid #351810;
}

#foundation-finder .translate-intensity {
	width: 50%;
	padding-top: 10px;
	border-top: 2px solid #351810;
}

#foundation-finder .result-container.c70 .result-translation,
#foundation-finder .result-container.c80 .result-translation,
#foundation-finder .result-container.c90 .result-translation {
	color: white;
	border-color: white;
}

@media (min-width: 600px) {

	#foundation-finder .selectors .item {
		padding: 5px;
		width: 33%;
	}

	#foundation-finder .subnav-element {
		width: 20%;
	}

}

@media (min-width: 900px) {
	#foundation-finder .title {
		font-size: 48px;
	}
	#foundation-finder .paragraph {
		font-size: 16px;
	}

	#foundation-finder .line-through:before,
	#foundation-finder .line-through:after {
		content: "";
		width: 15%;
		display: block;
		position: absolute;
		height: 2px;
		background-color: #7c6761;
		top: 50%;
	}

	#foundation-finder .line-through:after {
		right: 0;
	}

	#foundation-finder .description.subtitle {
		font-size: 40px;
	}	

}

#foundation-finder strong,
#foundation-finder .product-name,
#foundation-finder .product-button,
#foundation-finder .title,
#foundation-finder .subnav-element,
#foundation-finder .description.subtitle,
#foundation-finder .result-code {
	font-family: 'Avalon-Bold';
}

#foundation-finder .subnav-value,
#foundation-finder .description.subtitle,
#foundation-finder .face-image,
#foundation-finder .header,
#foundation-finder .foundation-finder-app,
#foundation-finder .subnav-value {
    transition: all 300ms ease;
}
